<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/fe4bb9f049.js"></script>

    <title>Document</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark border-bottom">
        <div class="container-fluid controlMaxWidth">
            <a class="navbar-brand" href="#"><i class="far fa-play-circle"></i> ZENÉSZKERESŐ</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary mr-4 mt-1 py-1 text-white" href="#aHirdetesek"> Hirdetés
                            feladása
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4" href="#aHirdetesek"> Hirdetések </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4" href="#aRegister"> Regisztráció </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aLogin"> Bejelentkezés </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- <div class="my-3 alert alert-danger text-center">
            Helytelen adatok
        </div> -->

        <div class="newAdBox">
            <h2 class="red text-center">Új hirdetés</h1>
                <!-- <p class="lead"><i class="fas fa-user"></i> Hozz létre egy új fiókot </p> -->

                <form class="form newAdForm" action="#">
                    <div class="form-group">
                        <label class="font-weight-bold" for="htitle">Hirdetés címe:</label>
                        <input type="text" class="form-control" name="htitle" id="">
                    </div>
                    <div class="form-group text-center d-flex justify-content-between">
                        <label class="font-weight-bold" for="hhirdeto">Hirdető: </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="zenesz" id="zenesz" value="option1">
                            <label class="form-check-label" for="zenesz">zenész (zenekart keresek)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="zenekar" id="zenekar" value="option2">
                            <label class="form-check-label" for="zenekar">zenekar (zenész kerestetik)</label>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="divideFlexInput">
                            <label for="hinstrument" class="mt-2"><i class="fas fa-guitar"></i> &nbsp;Hangszer:</label>
                            <input type="text" class="form-control" name="hinstrument" placeholder="pl: gitár" id="hinstrument">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="divideFlexInput">
                            <label for="hplace" class="mt-2"><i class="fas fa-street-view"></i> &nbsp;Helyszín:</label>
                            <input type="text" class="form-control" name="hplace" placeholder="pl: Budapest" id="hplace">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="htext"><i class="far fa-file-alt"></i> &nbsp;Hirdetés szövege:</label>
                        <textarea class="form-control" rows="5" name="htext" required> </textarea>
                    </div>
                    <input type="submit" class="form-control btn btn-red" value="Hirdetést felad" />
                </form>
        </div>

    </div>

    </div>

    <footer class="footer bg-light">
        <div class="container">
            <span class="text-muted">- &copy; Polyak Studio 2019 - All Rights Reserved -</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="bootstrap.js"></script>
</body>

</html>