html,
body {
    height: 100%;
    width: 100%;
}

$purpule: #ca28cf;
$red: #b40000;
$darker_red: #880000;
$text-secondary: #616A72;

.purpule {
    color: $purpule;
}

.purpule-darker {
    color: darken($purpule, 15);
}

.btn-purpule {
    color: white;
    background: $purpule;

    &:hover {
        color: white;
        background: lighten($purpule, 10);
    }
}

.red {
    color: $red;
}

.red-darker {
    color: darken($red, 15);
}

.btn-red {
    color: white;
    background: $red;

    &:hover {
        color: white;
        background: lighten($red, 10);
    }

    &:focus,
    &:active {
        color: white;
        background: $red;
        outline: none;
    }
}

.btn-nav {
    color: rgb(255, 255, 255);
    background: none;

    border: 1px solid rgb(180, 180, 180);

    &:hover {
        color: white;
        background: rgb(143, 143, 143);
    }

    &:focus,
    &:active {
        color: white;
        background: none;
        outline: none;
    }
}


// .navbar-brand i {
// }

.focim {
    font-family: 'Montserrat', sans-serif;
}

.szuresFocim {
    font-family: 'Montserrat', sans-serif;
}

.controlMaxWidth {
    max-width: 1400px;
}

.szuresForm {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 1rem;
}

.hirdetesekContainer {
    margin: 0 0 50px 0;
}

.hirdetes {
    background-color: #fff;
    border: 1px solid #dedede;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0 0 20px;
    // min-height: 150px;
    padding: 1.5rem 2rem 1rem;

    .iconUser {
        border: 2px solid #455368;
        background: #455368;
        color: white;
        border-radius: 50%;
        padding: 8px 15px;

        font-size: 2.2rem;
        text-align: center;
    }

    .iconUsers {
        border: 2px solid #455368;
        background: #455368;
        color: white;
        border-radius: 50%;
        padding: 10px;

        font-size: 2.2rem;
        text-align: center;
    }

    .author {
        color: $darker_red;
        font-size: 0.9rem;
    }

    h5 {
        font-family: 'Roboto Condensed', sans-serif;
        width: 100%;
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 0;
        line-height: 1.4;
    }

    .place {
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #b40000;
    }

    .date {
        font-size: 0.9rem;
        color: $text-secondary;
        align-self: center;
    }

    .category {
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #b40000;
        // color: darken($purpule, 15);
        // font-weight: bold;
    }

    .moreinfo a {
        font-size: 0.9rem;
        color: $text-secondary;
        text-decoration: underline;
    }

    .btn-adMore {
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: $text-secondary;
        font-size: 0.9rem;
    }

    .btn-adDelete {
        width: 100%;
        padding: 5px 10px;
        font-weight: bold;
        color: white;
        background-color: #d63939;
        font-size: 0.9rem;
    }
}


.footer {
    width: 100%;
    height: 2rem;
    padding: 0.3rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;


}

// LOGIN PAGE

.loginSiteContainer {
    // max-width: 500px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBox {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 1rem 1.5rem 0.5rem;
}


//HIRD.FELAD.PAGE
.newAdBox {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5rem auto 20px;
    padding: 1rem 1.5rem;
}

.newAdForm {
    label {
        color: #333;
    }

    i {
        color: #555;
    }
}

.divideFlexInput {
    display: flex;

    label {
        min-width: 120px;
    }
}


.alert {
    width: 100%;
    text-align: center;
    height: 50px;
}

.newDiv {
    width: 100%;
}

//ANIMATION
.showAlert-appear {
    height: 0px;
    opacity: 0;
    overflow: hidden;
}

.showAlert-appear-active {
    height: 66px;
    opacity: 1;
    transition: opacity 500ms linear, height 300ms ease-in-out;
}

.showAlert-exit {
    height: 66px;
    opacity: 1;
}

.showAlert-exit-active {
    height: 0px;
    opacity: 0;
    transition: opacity 500ms linear, height 300ms ease-out;
}