html,
body {
  height: 100%;
  width: 100%;
}

.purpule {
  color: #ca28cf;
}

.purpule-darker {
  color: #8b1c8f;
}

.red {
  color: #b40000;
}

.red-darker {
  color: #680000;
}

.btn-purpule {
  color: white;
  background: #ca28cf;
}

.btn-purpule:hover {
  color: white;
  background: #d84ddd;
}

.btn-red {
  color: white;
  background: #b40000;
}

.btn-red:hover {
  color: white;
  background: #e70000;
}

.btn-red:focus, .btn-red:active {
  color: white;
  background: #b40000;
  outline: none;
}

.btn-orange {
  color: white;
  background: #e6a51a;
}

.btn-orange:hover {
  color: white;
  background: #ebb748;
}

.btn-orange:focus, .btn-orange:active {
  color: white;
  background: #e6a51a;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: lightgray;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.btn-nav {
  color: white;
  background: none;
  border: 1px solid lightgray;
}

.btn-nav:hover {
  color: white;
  background: #880000;
}

.btn-nav:focus, .btn-nav:active {
  color: white;
  background: none;
  outline: none;
}

.focim {
  font-family: 'Montserrat', sans-serif;
}

.szuresFocim {
  font-family: 'Montserrat', sans-serif;
}

.controlMaxWidth {
  max-width: 1400px;
}

.szuresForm {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 1rem;
}

.hirdetesekContainer {
  margin: 0 0 50px 0;
}

.hirdetes {
  background-color: #fff;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 0 20px;
  padding: 1.5rem 2rem 1rem;
}

.hirdetes .iconUser {
  border: 2px solid #455368;
  background: #455368;
  color: white;
  border-radius: 50%;
  padding: 8px 15px;
  font-size: 2.2rem;
  text-align: center;
}

.hirdetes .iconUsers {
  border: 2px solid #455368;
  background: #455368;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 2.2rem;
  text-align: center;
}

.hirdetes .author {
  color: #880000;
  font-size: 0.9rem;
}

.hirdetes h5 {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  font-size: 1.2rem;
}

.hirdetes p {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.4;
}

.hirdetes .place {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #b40000;
}

.hirdetes .date {
  font-size: 0.9rem;
  color: #616A72;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hirdetes .category {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #b40000;
}

.hirdetes .moreinfo a {
  font-size: 0.9rem;
  color: #616A72;
  text-decoration: underline;
}

.hirdetes .btn-adMore {
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #616A72;
  font-size: 0.9rem;
}

.hirdetes .btn-adDelete {
  width: 49%;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  background-color: #d63939;
  font-size: 0.8rem;
}

.hirdetes .btn-adEdit {
  width: 49%;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  background-color: #e6a51a;
  font-size: 0.8rem;
}

.hirdetes .description {
  color: #272727;
}

.footer {
  width: 100%;
  height: 2rem;
  padding: 0.3rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

.loginSiteContainer {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginBox {
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem 1.5rem 0.5rem;
}

.newAdBox {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 5rem auto 20px;
  padding: 1rem 1.5rem;
}

.newAdForm label {
  color: #333;
}

.newAdForm i {
  color: #555;
}

.divideFlexInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divideFlexInput label {
  min-width: 120px;
}

.alert {
  width: 100%;
  text-align: center;
  height: 50px;
}

.newDiv {
  width: 100%;
}

.showAlert-appear {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

.showAlert-appear-active {
  height: 66px;
  opacity: 1;
  -webkit-transition: opacity 500ms linear, height 300ms ease-in-out;
  transition: opacity 500ms linear, height 300ms ease-in-out;
}

.showAlert-exit {
  height: 66px;
  opacity: 1;
}

.showAlert-exit-active {
  height: 0px;
  opacity: 0;
  -webkit-transition: opacity 500ms linear, height 300ms ease-out;
  transition: opacity 500ms linear, height 300ms ease-out;
}
/*# sourceMappingURL=style.css.map */